.navBtn{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin: 0.5rem;
    color: #AAA; 
    display: block;
    cursor:pointer;
}
/* .navBtn::after{
    content: '';
    width:0%;
    height:2px;
    display: block;
    color:black;
    background: black;
    margin: 3px auto;
    transition: 0.5s;
}
.navBtn:hover::after{
    width:30%;
} */
#marker{
    position: absolute;
    left: 0;
    height: 3px;
    width:30px;
    background: black;
    bottom: -8px;
    transition: 0.5s;
    border-radius: 4px;
}